/* Landingpage */
body {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    color: black;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}
p {
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
a {
    color: white;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    font-family:verdana;
    font-size: small;
}
#menu {
    background-color: rgb(38, 48, 52);
    border-radius: 5px;
    max-width: 1000px;
    padding: 10px;
    
}
#OLimg {
    max-height: 400px;
    
}
/*Oppgave en*/

#table {
    width: 600px;
    height: 600px;
    border: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}
.tableTopLeft {
    background-color: #f35325;
}
.tableTopRight {
    background-color: #81bc06;
}
.tableBottomLeft {
    background-color: #05a6f0;
}
.tableBottomRight {
    background-color: #ffba08;
}

/*Oppgave to */

ol {
    padding-top: 100px;
    counter-reset: item;
    list-style-type: none;
    line-height: 2.2;
}
ol li {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
ol li span {
    margin-left: 60px;
}
ol li:before {
    content: counter(item) "";
    counter-increment: item;
    color: #e6ff05;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    background: linear-gradient(45deg, #d70eff, #ff7b00);
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    margin-left: 15px;

}
.list-item {
    position: relative;
    font-size: large;
    color: #fff; 
    border: none;
    background:rgb(38, 48, 52);
    border-radius: 5px;
    width: 250px;
    margin-bottom: 20px;
}

/*Oppgave tre*/
.games {
    max-width: 1000px;
}
.col {
    background:rgb(38, 48, 52);
    min-height:30%;
    border-radius:10px;
    padding:30px 0px;
    text-align:center;
    font-family:verdana;
    padding-bottom: 2%;
    width: 245px;
    margin-top: 5%;
}

.btn {
    border-radius:34px;
    border:5px solid rgba(255, 255, 255, 0.07);
    color:rgb(0, 0, 0);
    font-size:16px;
    margin-top:15px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15);
    cursor:pointer;
    display:inline-block;

}
.btn span {
    display:inline-block;
    padding:10px 15px;
    background: none repeat scroll 0% 0% rgb(206, 123, 0);
    border-radius:20px;
    box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.3) inset, 0px 2px 0px rgba(255, 255, 255, 

    0.1) inset;
    }
h2
    {
    text-align:center;
    background:rgb(34, 43, 47);
    text-align:center;
    border-top:1px solid rgb(25, 31, 34);
    border-bottom:1px solid rgb(51, 60, 64);
    color:#fff;
    }
h2 span
    {
    border-top:1px solid rgb(51, 60, 64);
    border-bottom:1px solid  rgb(25, 31, 34);
    display:block;
    padding: 10px 0px;
    font-family:verdana;
    font-size:20px;
    }
ul
    {
    list-style-type:none;
    padding:0px;
    font-family:verdana;
    font-size:14px;
    margin:0 auto;
    text-align:center;
    width:70%;
    color:rgb(0, 179, 255);
    border-bottom:1px solid rgb(51, 60, 64);
    border-top:1px solid rgb(25, 31, 34);
    }
li
    {
    padding:10px 0px;
    border-top:1px solid rgb(51, 60, 64);
    border-bottom:1px solid rgb(25, 31, 34);
    }